/Users/victor/Desktop/compra\ ou\ assinatura/compra_ou_assinatura_carro/__pycache__
/Users/victor/Desktop/compra\ ou\ assinatura/compra_ou_assinatura_carro/.idea
/Users/victor/Desktop/compra\ ou\ assinatura/compra_ou_assinatura_carro/.DS_Store
/Users/victor/Desktop/compra\ ou\ assinatura/compra_ou_assinatura_carro/.gitattributes
