.idea/
.DS_Store
--pycache__
/Users/victor/Desktop/compra\ ou\ assinatura/compra_ou_assinatura_carro/__pycache__


__pycache__/calculadora_assinatura.cpython-312.pyc
__pycache__/calculadora_compra.cpython-312.pyc'
__pycache__/help.cpython-312.pyc